  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-6 col-md-6">
            <div class="footer-info">
              <h3>Groovin</h3>
              <p>
                Index 200100, Buxoro viloyati Buxoro shahri, Q.Murtazoyev ko'chasi 15-uy 2-bino majlislar zali o'ng tomonidagi xona <br><br><br>
                <strong>Phone:</strong> +99891-416-25-82<br>
                <strong>Email:</strong> jasurbekkamolovich2582@gmail.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>


          <div class="col-lg-5 col-md-6 footer-newsletter">
            <h4>Talablar va takliflar uchun</h4>
            <p>Buror taklifingiz yoki fikringiz bo'lsa Talabalr kengashi raisiga yo'llashingiz mumkin.</p>
            <form action="" method="post">{% csrf_token %}
              <input style="width: 75%;" type="text" class="form-control me-5" name="taklif" placeholder="Talablar va takliflar uchun"><input style="width: 20%;" class="ms-5" type="submit" value="Yuborish">
            </form>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Groovin</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/groovin-free-bootstrap-theme/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->
