{% extends "header.html" %}

{% block content %}
    

<br><br><br><br><br>
<div class="container">
<h2>Tizimga kirish</h2>
<br>
<form method="post">
    {% csrf_token %}
    <input type="text" name="login" class="form-control" placeholder="Login-->"><br>
    <input type="password" name="parol" class="form-control" placeholder="Parol-->"><br>
    <input class="btn btn-success" type="submit" value="Tizimga kirish">
</form>
<hr><br>
<h5 class="text-warning">Akountingi bolmasa registratsiyadan oting !!!</h5><br>
<a class="btn btn-info" href="{% url 'register' %}">Registratsiya</a><br><br>

</div>

{% endblock %}
{% include "footer.html" %}